* {
    margin-left: 1em;
    margin-right: 1em;
}


header {
    background-color: #563B27;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2, h3 {
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    font-weight: bold;
}

.header-link a:hover {
    background-color: #F4E1D2; /* Couleur de fond au survol */
    color: #563B27; /* Changement de couleur du texte au survol */
}

h1 {
    color: #F4E1D2;
}

.header-left {
    display: flex;
    align-items: center;
}

body { 
    font-family: sans-serif;
    background-color: #F4E1D2;
    color: #4D3319;
    
}

.logo {
    width: 100px;
    height: auto;
}

.header-link {
    display: flex;
}

.header-link a {
    display: inline-block;
    padding: 8px 12px;
    border: 2px solid #F4E1D2;
    border-radius: 20px;
    color: #F4E1D2;
    text-decoration: none; 
    margin-left: 10px;
    margin-right: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
}

p {
    text-align: justify;
    padding: 1em;
}

.img-coffee {
    max-width: 100%;
    padding-right: 1em;
    border-radius: 20px;
    }

.novelty {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.new-coffee {
    border: 2px solid #563B27;
    border-radius: 20px;
    margin-left: 1em;
    margin-right: 1em;
}

.new-coffee a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 20px; 
    background-color: #563B27;
    color: #F4E1D2; 
    border: 2px solid #F4E1D2;
    margin: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.new-coffee a:hover {
    background-color: #B88C7D;
    color: #563B27;
}

.presentation {
    max-width: 50%;;
    margin-left: 1em;
    margin-right: 1em;
}

footer {
    display: flex;
    justify-content: center;
    background-color:#4D3319 ;
    padding: 1em;
    margin-top: 2em;
}

footer a {
    justify-content: center;
    margin-left: 1em;
    color:#F4E1D2;
    text-decoration: none;
}

.img-article {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.article {
    max-width: 50%;
}


table {
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.selection {
    display: flex;
    flex-direction: column;
}

select {
    margin-bottom: 1em;
}

/* Ajoutez ces styles à votre feuille de style CSS, après votre reset.css */

.presentation-boutique {
    display: flex;
    justify-content: space-between; /* Pour espacer les éléments sur la ligne */
    align-items: center; /* Centrer verticalement */
}

.img-boutique {
    width: 100%; /* L'image prendra toute la largeur de son conteneur parent */
    max-width: none; /* Supprimez la limitation de la largeur maximale */
}

.boutiquetext, .table-horraire {
    width: calc(50% - 10px); /* 50% de la largeur du conteneur parent moins un peu d'espace pour la marge entre les deux éléments */
}

.sectionCatalogue {
    display: flex;
    justify-content: center;
}

.divCatalogue {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 100vh;
}

.coffeeItem {
    flex: 1;
    max-width: 20%; /* Vous avez besoin de 5 éléments donc 100% / 5 = 20% */
    padding: 10px;
    box-sizing: border-box;
}