* {
    box-sizing: border-box;
}

header {
    background-color: #563B27;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.header-left {
 margin: 1em auto;
}

.header-link {

}

.header-link a {
    border: 2px solid #F4E1D2;
    color: #F4E1D2;
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 12px;
}

.header-link a:hover {
    background-color: #F4E1D2;
    color: #563B27;
    }