<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/stylee.css">
    <title>O'Coffee</title>
</head>
<body>
<header>  
    <div class="header-left">
    <img class='logo' src="/images/logo.svg" alt="logo-ocoffee">
    <h1>O'COFFEE</h1>
    </div>
    <div class="header-link">
        <a href="/">Accueil</a>
        <a href="/catalogue">Catalogue</a>
        <a href="/boutique">Boutique</a>
    </div>
    </header> 