<%- include('partials/head') %> 

    <h2>Bienvenue chez O'Coffee</h2>

    
    <% for (const coffee of coffees)  { %>

        <p><%= coffee.name %></p>

        <% } %>
    
<div class="container">

<div class="presentation">

    <h3>Qui sommes-nous ?</h3><!---->

    <p>Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs 
    de notre boutique. Avec une expertise approfondie et un amour profond pour cette 
    délicieuse boisson, ils ont créé un espace où le café est célébré comme une expérience 
    raffinée et inspirante.</p>
    
    <p>Bienvenue dans notre boutique, où règne une ambiance chaleureuse et accueillante qui éveille tous vos sens. Dès que vous franchissez la porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants de café fraîchement moulu.L'atmosphère est empreinte d'une lueur chaleureuse, avec des lumières tamisées qui créent des jeux d'ombres et de lumières apaisants. Les murs sont ornés d'éléments rustiques, de panneaux en bois et de photographies captivantes de plantations de café,évoquant l'origine de ces délices aromatiques.
.   </p>
    
    <h3>Notre savoir faire</h3>
    <p>Jean et Jacques Pepper, deux frères passionnés par l'univers du café, ont toujours rêvé 
    de créer leur propre boutique de café haut de gamme. L'occasion de concrétiser ce rêve est 
    arrivée lors d'un voyage inoubliable en Colombie, un pays célèbre pour ses plantations de café renommées dans le monde entier.
    Pendant leur séjour en Colombie, Jean et Jacques ont eu la chance de visiter une plantation 
    de café pittoresque, nichée au cœur des montagnes verdoyantes. Ils ont été immédiatement 
    captivés par l'atmosphère envoûtante et l'engagement des agriculteurs locaux à cultiver les meilleurs grains de café.
    Au cours de cette visite, ils ont eu l'occasion de rencontrer des producteurs de café passionnés qui leur ont partagé leurs connaissances et leur amour pour le processus de culture, de récolte et de transformation du café. Jean et Jacques ont été fascinés par l'attention méticuleuse portée àchaque étape de la production, ainsi que par la diversité des saveurs et des arômes uniques 
que les différents terroirs colombiens offraient.
</p>

</div>

<div>
    <img class="img-accueil" src="/images/about.jpg" alt=""> <!-- ex img-coffee-->
</div>

</div>

<div class="novelty">

    <div class="new-coffee">
        <img class="imgCatalogue" src="/images/Brazil Santos.png" alt="Café">
        <h2>Nom du café</h2>
        <p>Prix : 10€</p>
        <p>Description : Un café délicieux avec des arômes riches et une saveur exquise.</p>
        <a href="/article/:id">Voir le produit</a>
    </div>

    <div class="new-coffee">
        <img class="imgCatalogue" src="/images/Kenya AA.png" alt="Café">
        <h2>Nom du café</h2>
        <p>Prix : 10€</p>
        <p>Description : Un café délicieux avec des arômes riches et une saveur exquise.</p>
        <a href="/article/:id">Voir le produit</a>
    </div>

    <div class="new-coffee">
        <img class="imgCatalogue" src="/images/Kenya AA.png" alt="Café">
        <h2>Nom du café</h2>
        <p>Prix : 10€</p>
        <p>Description : Un café délicieux avec des arômes riches et une saveur exquise.</p>
        <a href="/article/:id">Voir le produit</a>
    </div>

</div>
<%- include('partials/foot') %> 