<%- include ('partials/head') %> 


<img class="img-article" src="/images/100955890.png" alt="">

   <section class="description">
   <div class="article">
       <p><%= coffee.description %></p>
    </div>

<div class="table.container">
    <table class="table">
        <tbody>
            <tr>
                <td>Intensité</td>
                <td>Moyen</td>
            </tr>
            <tr>
                <td>Origine</td>
                <td>Colombie</td>
            </tr>
            <tr>
                <td>Varieté</td>
                <td>100% Arabica</td>
            </tr>
            <tr>
                <td>Caractére</td>
                <td>Equilibré</td>
            </tr>
        </tbody>
    </table>
</div>
    </section>

    <section class="selection">
            <label for="weight">Choisissez votre poid :</label>
            <select id="weight" name="poid">
                <option value="100g">100 grammes</option>
                <option value="250g">250 grammes</option>
                <option value="500G">500 grammes</option>
                <option value="1000g">1 kilogramme</option>
            </select>

           
            <label for="type">Choisissez votre type :</label>
            <select id="type" name="type">
                <option value="grains">Café en grains</option>
                <option value="moulu">Café moulu</option>
                <option value="dosette">Dosette</option>
            </select>
        

        
            <label for="quantity">Quantité :</label>
            <input type="number" id="quantity" name="quantity" min="1" max="100" step="1" value="1">
    </section>


<%- include('partials/foot') %> 