<%- include('partials/head') %> 

<h2>BIENVENUE CHEZ NOUS</h2>

    <img class="img-boutique" src="/images/boutique.jpg" alt="">

    <section class="presentation-boutique">
        
<p class="boutiquetext">Les Boutiques O'coffee, véritables havres du café situés au cœur des quartiers animés de Paris, vous proposent une gamme variée de cafés en grains, de cafés de spécialité et d'assemblages maison. Nos cafés artisanaux sont fraîchement torréfiés à Paris et moulus à la demande dans toutes nos boutiques pour s'adapter à votre préférence de dégustation. Notre large sélection inclut également une variété de thés, tisanes, chocolats, machines à café, accessoires de préparation et accompagnements gourmands.</p>


<table class="table-horraire">
    <thead>
        <tr>
            <td>Jour</td>
            <td>Matin</td>
            <td>Aprés-midi</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lundi</td>
            <td>Fermé</td>
            <td>Fermé</td>
        </tr>
        <tr>
            <td>Mardi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr>
            <td>Mercredi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr>
            <td>Jeudi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr>
            <td>Vendredi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr>
            <td>Samedi</td>
            <td>9h30-12h30</td>
            <td>14h00-18h30</td>
        </tr>
        <tr>
            <td>Dimanche</td>
            <td>Fermé</td>
            <td>Fermé</td>
        </tr>
    </tbody>
</table>
</section>
<%- include('partials/foot') %> 