<%- include('partials/head') %> 

<p><%= coffee.description %></p>
<div class="new-coffee">
    <img src="/images/Brazil Santos.png" alt="Café">
    <h2>Nom du café</h2>
    <p>Prix : 10€</p>
    <p>Description : Un café délicieux avec des arômes riches et une saveur exquise.</p>
</div>

<div class="new-coffee">
    <img src="/images/Brazil Santos.png" alt="Café">
    <h2>Nom du café</h2>
    <p>Prix : 10€</p>
    <p>Description : Un café délicieux avec des arômes riches et une saveur exquise.</p>
    <a href="/article">Voir le produit</a>
</div>

<div class="new-coffee">
    <img class="imgCatalogue" src="/images/Brazil Santos.png" alt="Café">
    <h2>Nom du café</h2>
    <p>Prix : 10€</p>
    <p>Description : Un café délicieux avec des arômes riches et une saveur exquise.</p>
    <a href="/article">Voir le produit</a>
</div>

<div class="new-coffee">
    <img class="imgCatalogue" src="/images/Brazil Santos.png" alt="Café">
    <h2>Nom du café</h2>
    <p>Prix : 10€</p>
    <p>Description : Un café délicieux avec des arômes riches et une saveur exquise.</p>
    <a href="/article">Voir le produit</a>
</div>

<div class="new-coffee">
    <img class="imgCatalogue" src="/images/Brazil Santos.png" alt="Café">
    <h2>Nom du café</h2>
    <p>Prix : 10€</p>
    <p>Description : Un café délicieux avec des arômes riches et une saveur exquise.</p>
    <a href="/article">Voir le produit</a>
</div>

<%- include('partials/foot') %> 